

<label for="title">제목:</label>
<input type="text" id="title" name="title" value="<%= post.title %>" required >
<textarea id="contents" name="contents" value="<%= post.contents %>" rows="10" cols="100"></textarea>