
<h2>포스팅 리스트</h2>
<a href="/post/create" > 작성하기 </a>

<div>
    <% for (var i = 0;i < data.length;i++){ %>
        <h3 onclick="goDetail( '<%=data[i].id %>' )"> <%= i + 1 %> : <%= data[i].title %> </h3>
    <% } %>
</div>

<script>

    function goDetail( id ){
        location.href = "/post/postid/" + id 
    }

</script>
